<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dicoding.githubclone">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".stetho.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GithubClone">
        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
        <activity android:name=".activity.DetailFavoriteActivity"></activity>
        <activity android:name=".activity.DetailUserActivity" />
        <activity android:name=".activity.SearchUsersActivity" />
        <activity android:name=".activity.ProfilePageActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>